/* ========small device 576px======= */
@media screen and (max-width:576px) {
    footer .footer-container {
        text-align: center;
    }

    .footer-container .form input[type="text"],
    .footer-container .form input[type="email"],
    .footer-container .form textarea {
        width: 100%;
    }

    .skill-container .skill-card,
    .resume-container,
    .footer-container {
        flex-direction: column;
    }

    .about-container,
    .skill-container,
    .resume-container,
    .footer-container {
        width: 90%;
    }

    .about-container {
        padding: 1rem 1rem;
    }

    .about-container .about-info {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }

}