* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------shared style-------- */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 71%;
    max-width: 1140px;
    margin: auto;
}

.orange-color {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
}

.about-container,
.skill-container {
    margin-top: 130px;
}

.section-heading {
    width: 827px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
    color: #757575;
}


/* ---------shared style---------- */

/* ------- --header style area start-----------*/
header {
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom left, right bottom;
    padding-top: 50px;
}

/* --------nav style start------------- */
header .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-container .menu {
    display: flex;
    gap: 60px;
    align-items: center;
}

header .nav-container .logo {
    font-size: 45px;
    font-weight: 900;
}

header .nav-container .menu {
    list-style: none;
}

header .nav-container a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

/* --------nav style end------------- */

/* ---------banner style start------- */
header .banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 38px 0 230px;
}

.banner-container .banner-content {
    width: 585px;
}

.banner-container .banner-content h3 {
    font-size: 45px;
    font-weight: 600;
}

.banner-container .banner-content h2 {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 20px;
}

.banner-container .banner-content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}

.banner-container img {
    vertical-align: middle;
}

.banner-container .banner-content .btn {
    margin-right: 30px;
}

.banner-container .banner-content .white-btn {
    background-color: white;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    border: none;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

/* ---------banner style end-------- */
/* ------- ------header style area end-----------*/

/* -----------------main area style start------------- */
/* ----------about section style start------ */

.about-container {
    padding: 131px 156px;
    background-color: #FFF8F3;
    text-align: center;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-container .about-info .info-card p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.about-container .about-info .info-card h3 {
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

/* ---------about style end------- */

/* -------skill section style start------- */

#skill .skill-container .skill-card {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skill-container .skill-card .card {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px #757575 ;
}

.skill-container .skill-card .card img {
    margin-bottom: 30px;
}

.skill-container .skill-card .card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.skill-container .skill-card .card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* -------skill section style end------- */

/* -----------main area style end--------------- */